_build/

.vs/
CSharp/.dotnet/
CSharp/**/bin/
CSharp/**/obj/
CSharp/**/TestResults/
CSharp/.vs/
CSharp/*.user
CSharp/*.suo
CSharp/tests/MagnetarYggdrasil.Tests/obj/
CSharp/src/MagnetarYggdrasil/obj/
CSharp/tests/MagnetarYggdrasil.Tests/bin/
.idea/
