name: CSharp Workflow
'on':
  push:
    branches:
    - project-run/CSharp
  pull_request:
    branches:
    - project-run/CSharp
jobs:
  test:
    name: Test CSharp
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: CSharp
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Test
      run: dotnet test
