name: DVibe Workflow
'on':
  push:
    branches:
    - project-run/DVibe
  pull_request:
    branches:
    - project-run/DVibe
jobs:
  test:
    name: Test DVibe
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: DVibe
    steps:
    - uses: actions/checkout@v3
    - name: Setup D
      uses: dlang-community/setup-dlang@v1
      with:
        compiler: dmd-latest
    - name: Test
      run: dub test
