name: Elixir Workflow
'on':
  push:
    branches:
    - project-run/Elixir
  pull_request:
    branches:
    - project-run/Elixir
jobs:
  test:
    name: Test Elixir
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Elixir
    steps:
    - uses: actions/checkout@v3
    - name: Setup Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: '1.15'
        otp-version: '26.0'
    - name: Install Dependencies
      run: mix deps.get
    - name: Test
      run: mix test
