name: LuaOpenResty Workflow
'on':
  push:
    branches:
    - project-run/LuaOpenResty
  pull_request:
    branches:
    - project-run/LuaOpenResty
jobs:
  test:
    name: Test LuaOpenResty
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: LuaOpenResty
    steps:
    - uses: actions/checkout@v3
    - name: Install OpenResty
      run: sudo apt-get update && sudo apt-get -y install --no-install-recommends
        wget gnupg ca-certificates && wget -O - https://openresty.org/package/pubkey.gpg
        | sudo apt-key add - && echo "deb http://openresty.org/package/ubuntu $(lsb_release
        -sc) main" | sudo tee /etc/apt/sources.list.d/openresty.list && sudo apt-get
        update && sudo apt-get -y install openresty
    - name: Install Busted
      run: sudo apt-get install -y luarocks && sudo luarocks install busted
    - name: Test
      run: busted tests/
