name: NodeNestJs Workflow
'on':
  push:
    branches:
    - project-run/NodeNestJs
  pull_request:
    branches:
    - project-run/NodeNestJs
jobs:
  test:
    name: Test NodeNestJs
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: NodeNestJs
    steps:
    - uses: actions/checkout@v3
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - name: Install Dependencies
      run: npm ci
    - name: Test
      run: npm test
