name: PythonFastApi Workflow
'on':
  push:
    branches:
    - project-run/PythonFastApi
  pull_request:
    branches:
    - project-run/PythonFastApi
jobs:
  test:
    name: Test PythonFastApi
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: PythonFastApi
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install Dependencies
      run: pip install -r requirements.txt
    - name: Test
      run: pytest
