name: Rust Workflow
'on':
  push:
    branches:
    - project-run/Rust
  pull_request:
    branches:
    - project-run/Rust
jobs:
  test:
    name: Test Rust
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Rust
    steps:
    - uses: actions/checkout@v3
    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
    - name: Test
      run: cargo test
