name: Zig Workflow
'on':
  push:
    branches:
    - project-run/Zig
  pull_request:
    branches:
    - project-run/Zig
jobs:
  test:
    name: Test Zig
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Zig
    steps:
    - uses: actions/checkout@v3
    - name: Setup Zig
      uses: goto-bus-stop/setup-zig@v1
    - name: Test
      run: zig build test
